<div class="about-us-laptop-div">
  <div class="about-us-content-container">
    <div class="about-us-content-first-container">
      <div id="auLaptopFirstContent">
        <h2 class="font-size-3x main-font">01. Students Growth</h2>
        <p class="font-size-1x text-font">Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur
          in. Nec id tempor imperdiet
          deterruisset, doctus volumus explicari qui ex.</p>
      </div>
      <div id="auLaptopSecondContent">
        <h2 class="font-size-3x main-font">03. A Degree for All</h2>
        <p class="font-size-1x text-font">We believe that every man or woman is entitle for a higher education, that is
          why we will do all in our power to find the best program for every student out there.</p>
      </div>
    </div>
    <div class="about-us-content-second-container">
      <img class="about-us-content-image" src="/assets/imgs/focus.jpg">
    </div>
    <div class="about-us-content-third-container">
      <div id="auLaptopThirdContent">
        <h2 class="font-size-3x main-font">02. Best Learning Practice</h2>
        <p class="font-size-1x text-font">Good teaching practice is a key influence on student learning - a desired
          outcome and primary goal of higher educational institutions. Teachers strive to meet the principles of good
          practice in an effort to provide the best learning experience for their students</p>
      </div>
      <div id="auLaptopFourthContent">
        <h2 class="font-size-3x main-font">04. Assurance</h2>
        <p class="font-size-1x text-font">We are here to assure you that you will get that degree, most of our students
          got their degree and are happy to come back for the next challenge in their academic path.</p>
      </div>
    </div>
  </div>
</div>




<div class="about-us-mobile-div">
  <div class="about-us-content-container">

    <div class="about-us-content-first-container">
      <img class="about-us-content-image" src="/assets/imgs/focus.jpg">
    </div>

    <div id="auMobileFirstContent" class="about-us-content-second-container">
      <h2 class="font-size-3x main-font">01. Students Growth</h2>
      <p class="font-size-1x text-font">Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur
        in. Nec id tempor imperdiet
        deterruisset, doctus volumus explicari qui ex.</p>
    </div>

    <div id="auMobileSecondContent" class="about-us-content-third-container">
      <h2 class="font-size-3x main-font">02. Best Learning Practice</h2>
      <p class="font-size-1x text-font">Good teaching practice is a key influence on student learning - a desired
        outcome and primary goal of higher educational institutions. Teachers strive to meet the principles of good
        practice in an effort to provide the best learning experience for their students</p>
    </div>

    <div id="auMobileThirdContent" class="about-us-content-fourth-container">
      <h2 class="font-size-3x main-font">03. A Degree for All</h2>
      <p class="font-size-1x text-font">We believe that every man or woman is entitle for a higher education, that is
        why we will do all in our power to find the best program for every student out there.</p>
    </div>

    <div id="auMobileFourthContent" class="about-us-content-fifth-container">
      <h2 class="font-size-3x main-font">04. Assurance</h2>
      <p class="font-size-1x text-font">We are here to assure you that you will get that degree, most of our students
        got their degree and are happy to come back for the next challenge in their academic path.</p>
    </div>
  </div>
</div>
