<div class="home-bottom-design">
  <div class="home-bottom-design-first">
    <div class="layer-1"></div>
    <img class="home-bottom-design-icon" src="/assets/icons/college.svg">
    <h3 class="main-font home-bottom-design-heading font-size-3x white-color">ABOUT US</h3>
    <p class="text-font home-bottom-design-content font-size-2x white-color">Figuring out what you love and what you want to do are
        often the
        hardest decisions. Get started by browsing our programs.</p>
    <div class="home-bottom-design-button font-size-2x">
      <div class="white-color">Learn More</div>
      <img class="home-bottom-button-icon" src="/assets/icons/chevronRight.svg">
    </div>
  </div>
  <div class="home-bottom-design-second">
    <div class="layer-2"></div>
    <img class="home-bottom-design-icon" src="/assets/icons/bulb.svg">
    <h3 class="main-font home-bottom-design-heading font-size-3x white-color">ACADEMIC PROGRAMS</h3>
    <p class="text-font home-bottom-design-content font-size-2x white-color">Figuring out what you love and what you want to do are
      often the
      hardest decisions. Get started by browsing our programs.</p>
    <div class="home-bottom-design-button font-size-2x">
      <div class="white-color">Explore Programs</div>
      <img class="home-bottom-button-icon" src="/assets/icons/chevronRight.svg">
    </div>
  </div>
  <div class="home-bottom-design-third">
    <div class="layer-3"></div>
    <img class="home-bottom-design-icon" src="/assets/icons/calendar.svg">
    <h3 class="main-font home-bottom-design-heading font-size-3x white-color">KEY DATES</h3>
    <p class="text-font home-bottom-design-content font-size-2x white-color">There is no better way to understand about our college
      than by
      checking out the important events in the college.</p>
    <div class="home-bottom-design-button font-size-2x">
      <div class="white-color">Check Dates</div>
      <img class="home-bottom-button-icon" src="/assets/icons/chevronRight.svg">
    </div>
  </div>
  <div class="home-bottom-design-fourth">
    <div class="layer-4"></div>
    <img class="home-bottom-design-icon" src="/assets/icons/location.svg">
    <h3 class="main-font home-bottom-design-heading font-size-3x white-color">CAMPUS TOURS</h3>
    <p class="text-font home-bottom-design-content font-size-2x white-color">Take a tour, learn about admission, speak with current
      students
      and faculty, and enjoy the day on the campus.</p>
    <div class="home-bottom-design-button font-size-2x">
      <div class="white-color">Our Campus</div>
      <img class="home-bottom-button-icon" src="/assets/icons/chevronRight.svg">
    </div>
  </div>
</div>
