<div class="home-container">
  <div class="home-page-one">
    <img class="home-image-one" src="/assets/imgs/homePage.jpg">
  </div>
  <div class="home-page-two">
    <img class="home-image-two fade-in-class" src="/assets/imgs/homePage2.jpg">
  </div>

  <div class="home-link-container">
    <div class="home-link-left-container">
      <img class="font-logo-image" src="/assets/imgs/logo.png">
      <h1 class="font-size-5x secondary-color heading-font font-logo-text">Parnami College</h1>
    </div>
    <div id="laptopNav" class="home-link-right-container">
      <div>
        <a class="main-font secondary-color">HOME</a>
      </div>
      <div>
        <a class="main-font secondary-color">ABOUT US</a>
      </div>
      <div>
        <a class="main-font secondary-color">PROGRAMS</a>
      </div>
      <div>
        <a class="main-font secondary-color">EVENTS</a>
      </div>
      <div>
        <a class="main-font secondary-color">CAMPUS</a>
      </div>
      <div class="home-page-button-container">
        <div>Student Login</div>
      </div>
    </div>
  </div>

  <div class="home-page-content">
    <div class="home-page-main-content main-font secondary-color font-size-6x animate-reveal animate-first">
      Inspiration. Innovation. Discovery.
    </div>
    <div class="home-page-sub-content text-font secondary-color font-size-2x animate-reveal animate-second">
      Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects
      that will be especially useful for you when climbing the career ladder.
    </div>
  </div>
</div>

<div class="home-why-us-container">
    <app-why-us></app-why-us>
</div>

<div>
  <app-about-us></app-about-us>
</div>